.subscribe-container {
    max-width: 800px;
    margin: 60px auto;
}

.subscribe-container form {
    display: flex;
    flex-wrap: wrap;
}

.subscribe-container form input {
    margin: 15px;
    padding: 0.4rem;
}

.subscribe-container form input {
    flex: 1 1 200px;
}

.subscribe-container form input[type="submit"] {
    border-radius: 3px;
}

.subscribe-container form input[type="email"] {
    flex: 1 1 250px;
}